# Dependencies
node_modules/
**/node_modules/
/.pnp
.pnp.js

# Build outputs
/build
**/build
/dist
**/dist

# Environment variables & secrets
.env
**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Server upload uploads
server/uploads/*
!server/uploads/.gitkeep

# Logs & cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.firebase/
